<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Edit My Instruments</h3>

</div>

<div class="content-container">

<form action="/profile/<%= user._id %>/instruments/edit/" method="POST">

  <div class="top-container">
    <h4 class="center-align">Select your instruments</h4>

    <div class="instruments-container">
    <% for (key in instruments) { %>
      <div class="instrument-card">
        <input type="checkbox" name="instruments" value="<%= instruments[key] %>" id="<%= key %>" class="checkbox" <% if ((user.instruments || []).indexOf(instruments[key]) !== -1) { %> checked="checked" <% } %> />
        <label for="<%= key %>">
          <div class="instrument-image-container">
            <img src="/images/png/<%= key %>.png">
          </div>
        </label>
        <p><%= instruments[key] %></p>
      </div>
    <% } %>
  </div>
  </div>


    <button class="btn waves-effect waves-light margin-top btn-edit" type="submit" name="action">Save
      <i class="material-icons right">send</i>
    </button>

  </form>

</div>
