<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Edit My Instruments</h3>

</div>

<div class="content-container">

<form action="/profile/<%= user._id %>/instruments/edit/" method="POST" class="instrument-card-container">

  <p>Select at least one instrument</p>

  <% for (key in instruments) { %>

  <div class="instrument-card">
    <label class="instrument-label" for="<%= key %>"><img class="margin-right" src="/images/512/<%= key %>.png"><%= instruments[key] %></label>
    <input type="checkbox" name="instruments" value="<%= instruments[key] %>" class="checkbox" <% if ((user.instruments || []).indexOf(instruments[key]) !== -1) { %> checked="checked" <% } %> >
  </div>

  <% } %>

  <button type="submit" class="btn btn-primary btn-block">Save</button>

</form>

</div>
