<div class="secondary-header">

  <p>
    <a href="javascript:history.back()">< Back</a>
  </p>

  <h3><%= musician.username %>'s Profile</h3>

</div>




<div class="content-container">

  <div class="top-container">
    <div class="img-container-large">
      <img class="circle" src="<%= musician.pic_path %>">
    </div>
    <h2><%= musician.username.toUpperCase() %></h2>
    <h3>City: <%= musician.city %></h3>
    <div class="links">
      <a href="profile/<%= req.user._id %>/edit">Edit Profile</a>
    </div>
  </div>

  <div class="bottom-container">
    <div class="row">
      <div class="col s12 m6">
        <div class="bottom-left-container">
          <h2>Bio:</h2>
          <div class="divider"></div>
          <div class="section">
          </div>
          <div class="section">
          </div>
          <div class="section">
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="bottom-right-container">
          <h2>Instruments:</h2>
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>

</div>
