<div class="secondary-header">

  <p>
    <a href="/musicians/view">
      < Back</a>
  </p>

  <h3><%= musician.username %>'s Profile</h3>

</div>

<div class="content-container">

  <div class="container white z-depth-2">
    <div class="account-container">

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1">Profile</a></li>
            <li class="tab col s3"><a href="#test2">Jams</a></li>
            <li class="tab col s3"><a href="#test3">Groups</a></li>
            <li class="tab col s3"><a href="#test4">Search</a></li>
          </ul>
        </div>
        <div class="divider"></div>
        <div id="test1" class="col s12">
          <div class="divider"></div>
          <div class="container profile-container">
            <div class="img-container">
              <img class="circle" src="<%= musician.pic_path %>">
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Name:</h5>
              <p>
                <%= musician.username %>
              </p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>City:</h5>
              <p>
                <%= musician.city %>
              </p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h5>Instruments:</h5>
              <p>
                <%= musician.instruments %>
              </p>
            </div>
          </div>
        </div>
        <div id="test2" class="col s12" id="jamsinfo">
          <div class="divider"></div>
          <div class="jams-container">
          </div>
        </div>
        <div id="test3" class="col s12">
          <div class="divider"></div>
        </div>
        <div id="test4" class="col s12">
          <div class="divider"></div>
        </div>
      </div>
    </div>


  </div>

</div>

</div>
