<div class="secondary-header">

  <p>
    <a href="javascript:history.back()">
      < <span class="back">Back</span></a>
  </p>

  <h3>Search Musicians</h3>

</div>

<div class="content-container">

  <div class="top-container">

    <div class="container">

      <div class="row">
        <div class="input-field col s12 m5" id="genreinput">
          <select class="filter-opt" id="genrefilter">
            <option value="1" disabled selected>Choose your option</option>
            <option class="filter-opt" value="Pop">Pop</option>
            <option class="filter-opt" value="Rock">Rock</option>
            <option class="filter-opt" value="Indie">Indie</option>
            <option class="filter-opt" value="Electronic">Electronic</option>
            <option class="filter-opt" value="Classical">Classical</option>
            <option class="filter-opt" value="Reggae">Reggae</option>
            <option class="filter-opt" value="Hip Hop">Hip Hop</option>
            <option class="filter-opt" value="Jazz">Jazz</option>
            <option class="filter-opt" value="Country">Country</option>
            <option class="filter-opt" value="Ska">Ska</option>
          </select>
          <label>Filter by Genre</label>
        </div>

          <div class="input-field col s12 m5" id="instinput">
            <select class="filter-opt" id="instfilter">
              <option value="1" disabled selected>Choose your option</option>
              <option class="filter-opt" value="Piano">Piano</option>
              <option class="filter-opt" value="Electric Guitar">Electric Guitar</option>
              <option class="filter-opt" value="Drums">Drums</option>
              <option class="filter-opt" value="Saxophone">Saxophone</option>
              <option class="filter-opt" value="Guitar">Guitar</option>
              <option class="filter-opt" value="Violin">Violin</option>
              <option class="filter-opt" value="Bass Guitar">Bass Guitar</option>
              <option class="filter-opt" value="Clarinet">Clarinet</option>
              <option class="filter-opt" value="Flute">Flute</option>
              <option class="filter-opt" value="Tuba">Tuba</option>
              <option class="filter-opt" value="Keyboard">Keyboard</option>
              <option class="filter-opt" value="Trumpet">Trumpet</option>
              <option class="filter-opt" value="Trombone">Trombone</option>
              <option class="filter-opt" value="Oboe">Oboe</option>
            </select>
            <label>Filter by Instruments</label>
          </div>

        <div class="col s12 m2">
          <button class="btn filter-btn">Clear</button>
        </div>
      </div>

      <div class="col s12 m7">
        <% for (i=0; i < musicians.length; i++) { %>
          <div class="card horizontal hoverable">
            <div class="profile-img-container" style="background-image: url(<%= musicians[i].pic_path %>)"></div>
            <div class="card-stacked">
              <div class="card-content">
                <h2><%= musicians[i].username %></h3>
              <p>
                <%= musicians[i].city %>
              </p>
              <span class="instruments-list-text">
                <% for (j=0; j < musicians[i].instruments.length; j++) { %>
                  <%= musicians[i].instruments[j] %> |
                <% } %>
              </span>
              <div class="instruments-list">
                <% for (j=0; j < musicians[i].instruments.length; j++) { %>
                  <div class="instrument-image-container-tiny">
                    <img src="/images/png/<%= musicians[i].instruments[j].replace(/\s/g, '').toLowerCase() %>.png">
                  </div>
                <% } %>
              </div>
              <p class="genre-list">
              <% if (musicians[i].genres) { %>
                <% for (x=0; x < musicians[i].genres.length; x++) { %>
                  <%= musicians[i].genres[x] %>
                  <% if (x !== (musicians[i].genres.length - 1)) { %>
                  /
                  <% } %>
                <% } %>
              <% } %>
              </p>
            <div class="card-action">
              <a href="/musicians/<%= musicians[i]._id %>">View Profile</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>

  </div>

  </div>

</div>
