<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Search Musicians</h3>

</div>

<div class="container white z-depth-2">

<% for (i=0; i < musicians.length; i++) { %>
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="img-container valign-wrapper">
        <img class="circle" src="<%= musicians[i].pic_path %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3><%= musicians[i].username %></h3>
          <p><%= musicians[i].city %></p>
        </div>
        <div class="card-action">
          <a href="/musicians/<%= musicians[i]._id %>">View Profile</a>
          <a href="/musicians/<%= musicians[i]._id %>">Send Request</a>
        </div>
      </div>
    </div>
  </div>
<% } %>

</div>
