<div class="secondary-header">

  <% if (typeof jam !== undefined) { %>
  <p>
    <a href="javascript:history.back()">< Return to jam</a>
  </p>
  <% } else { %>
  <p>
    <a href="/profile">< Return to profile</a>
  </p>
  <% } %>



  <h3>Search Musicians</h3>

</div>

<div class="content-container">

  <div class="container white z-depth-2">

    <div class="row">
      <div class="input-field col s7 offset-s1">
        <select class="filter-opt" id="instfilter">
          <option value="1" disabled selected>Choose your option</option>
          <option class="filter-opt" value="Piano">Piano</option>
          <option class="filter-opt" value="Drums">Drums</option>
          <option class="filter-opt" value="Guitar">Guitar</option>
        </select>
        <label>Materialize Select</label>
      </div>

      <div class="col s1 offset-s1">
        <button class="btn filter-btn">Clear Filters</button>
      </div>
    </div>

    <% if (typeof jam !== undefined) { %>
      <form action="/jams/<%= jam._id %>/invite" method="post">
    <% } %>

    <% for (i=0; i < musicians.length; i++) { %>
      <div class="col s12 m7">
        <div class="card horizontal">
          <div class="img-container valign-wrapper">
            <img class="circle" src="<%= musicians[i].pic_path %>">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h3><%= musicians[i].username %></h3>
              <p>
                <%= musicians[i].city %>
              </p>
              <p>
                <span class="instruments-list">
                  <% for (j=0; j < musicians[i].instruments.length; j++) { %>
                    <%= musicians[i].instruments[j] %> |
                  <% } %>
                </span>
              </p>
            </div>
            <div class="card-action">
              <% if (typeof jam !== undefined) { %>
                <p>
                  <input type="checkbox" name="invited" value="<%= musicians[i]._id %>" id="chkbx_<%= musicians[i]._id %>" <% if ((jam.invited || []).indexOf(musicians[i]._id) !== -1) { %> checked="checked" <% } %>/>
                  <label for="chkbx_<%= musicians[i]._id %>">Invite</label>
                </p>
              <% } %>
              <a href="/musicians/<%= musicians[i]._id %>">View Profile</a>
            </div>
          </div>
        </div>
      </div>
      <% } %>

      <button class="btn waves-effect waves-light margin-top btn-edit" type="submit" name="action">Save
        <i class="material-icons right">send</i>
      </button>

    </form>

  </div>

</div>
