<div class="secondary-header">

  <p>
    <a href="javascript:history.back()">
      < <span class="back">Back</span></a>
  </p>

  <h3>Edit Jam</h3>

</div>

<div class="content-container">

  <div class="top-container">
    <div class="container-small">
      <div class="img-container-large">
        <img class="circle" src="<%= jam.pic_path %>">
      </div>

      <form action="/jams/<%= jam._id %>/edit" method="POST">

        <div class="file-field input-field center-align">
            <div class="btn">
              <span>Upload Picture (Optional)</span>
              <input type="file" name="jam-pic">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>

        <div class="input-field">
          <label for="name">Edit Jam Name</label>
          <input type="text" name="name" class="form-control validate" value="<%= jam.name %>" required>
        </div>

        <div class="input-field">
          <label for="date">Click to select date</label>
          <input type="text" name="date" class="datepicker" value="<%= jam.date %>" required>
        </div>

        <div class="input-field">
          <label for="time">Click to select time</label>
          <input type="text" name="time" class="timepicker" value="<%= jam.time %>" required>
        </div>

            <div class="input-field col s12 m5" id="genreinput">
              <select class="filter-opt" id="genrefilter">
                <option value="1" disabled selected class="faded-text">Click to select jam genre</option>
                <% for (key in genres) { %>
                  <option class="filter-opt" value="<%= genres[key] %>"><%= genres[key] %></option>
                <% } %>
              </select>
            </div>


        <div class="input-field col s12 margin-top">
          <textarea id="description" name="description" class="materialize-textarea" placeholder="Enter Jam Description (optional)"><%= jam.description %></textarea>
        </div>

        <% if (typeof(message) !== "undefined") { %>
          <div class="error-message">
            <%= message %>
          </div>
        <% } %>

    </div>
  </div>


  <button class="btn waves-effect waves-light margin-top btn-edit" type="submit" name="action">Save
    <i class="material-icons right">send</i>
  </button>

  </form>

</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
