<div class="secondary-header">

  <p>
    <a href="/profile">< Return to profile</a>
  </p>

    <h3>Create New Jam - Select Location</h3>

</div>

<div class="content-container">

<div class="row">
  <div class="col s6">
    <div class="map-container">
      <div id="jam-venues-map"></div>
    </div>
  </div>
  <div class="col s6">
      <div class="container2">
        <p>Select a venue below</p>
        <% for (i=0; i < venues.length; i++) { %>
            <div class="card horizontal">
              <div class="img-container valign-wrapper">
                <img class="circle" src="<%= venues[i].pic_path %>">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h3><%= venues[i].name %></h3>
                  <p><%= venues[i].address %></p>
                  <a href="http://<%= venues[i].website %>" target="_blank"><%= venues[i].website %></a>
                </div>
                <div class="card-action">
                  <form action="/jams/new" method="POST">
                    <input type="hidden" name="id" value="<%= venues[i].id %>" class="form-control">
                  <button class="btn" type="submit">Select</button>
                 </form>
                </div>
              </div>
            </div>
        <% } %>
      </div>
  </div>
</div>

</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzW4MVaD-hRL-C6F_g79sxvibZz8pDLGQ&libraries=places&callback=showVenueMarkers"></script>
