<div class="secondary-header">

  <p>
    <a href="/profile/myjams">< My jams</a>
  </p>

    <h3>Jam info</h3>

</div>

<div class="content-container">

  <div class="top-container">
    <div class="img-container-large">
      <img class="circle" src="<%= jam.pic_path %>">
    </div>
    <h2 class="center-align"><%= jam.name.toUpperCase() %></h2>
    <h3 class="center-align"><%= jam.description %></p>
    <h3 class="center-align"><%= jam.date %></h3>
    <h3 class="center-align"><%= jam.time %></h3>
    <% if (JSON.stringify(jam.creator) === JSON.stringify(req.user._id)) { %>
      <div class="links">
        <a href="/jams/<%= jam._id %>/edit">Edit</a> | <a href="/jams/<%= jam._id %>/invite">Invite Musicians</a> | <a href="/jams/<%= jam._id %>/delete">Cancel Jam</a>
      </div>
    <% } else if (!attending) { %>
      <div class="links">
        <form method="post" action="/jams/<%= jam._id %>/adduser">
         <input type="hidden" value="<%= req.user._id %>" name="newAttendee">
         <button type="submit">Attend this jam</button>
         </form>
      </div>
    <% } else { %>
      <div class="links">
        <a href="/jams/<%= jam._id %>/edit">Can't make it?</a>
      </div>
    <% } %>
  </div>


  <div class="bottom-container">
    <div class="row">
      <div class="col s12 l4">
        <div class="bottom-left-container">
          <h2>Venue info:</h2>
          <div class="divider"></div>
          <div class="venue-info">
            <div class="img-container">
              <img class="circle" src="<%= jam.venue.pic_path %>">
            </div>
            <h2><%= jam.venue.name %></h2>
            <p><%= jam.venue.address %></p>
            <a href="<%= jam.venue.website %>"><%= jam.venue.website %></p></a>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="bottom-right-container">
          <h2>Attending:</h2>
          <div class="divider"></div>
          <% if (jam.attendees) { %>
            <% for (i=0; i < jam.attendees.length; i++) { %>
            <div class="small-user-card center-align">
              <a href="/musicians/<%= jam.attendees[i].id %>">
              <div class="img-container-small">
                <img class="circle" src="<%= jam.attendees[i].pic_path %>">
              </div>
              <p><%= jam.attendees[i].username %></p>
              </a>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="bottom-right-container">
          <h2>Invited:</h2>
          <div class="divider"></div>
          <% if (jam.invited) { %>
            <% for (i=0; i < jam.invited.length; i++) { %>
            <div class="small-user-card center-align">
              <a href="/musicians/<%= jam.invited[i].id %>">
              <div class="img-container-small">
                <img class="circle" src="<%= jam.invited[i].pic_path %>">
              </div>
              <p><%= jam.invited[i].username %></p>
              </a>
            </div>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>


</div>
